<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Regístrate</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre completo" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="usuario" placeholder="Usuario" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="contrasena" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-general btn-block">Registrarme</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>